<!DOCTYPE html>
<html>
<head>
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script type="text/javascript">

		window.img_source = "";
		
		function readURL(input) {
			console.log("HELLO")
        	$('#img').attr('src', "");

            if (input.files && input.files[0]) {
                
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#img')
                        .attr('src', e.target.result)
                };
                const up_fileType = input.files[0]['type'];
                const up_file_size = input.files[0]['size'] / 1024 / 1024;
                console.log("file type : ");
                console.log(up_fileType);
                const up_validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
                if (!up_validImageTypes.includes(up_fileType)) {
                    console.log("Invalid file uploaded");
                    return false;
                }
                if (up_file_size > 10) {
                    console.log("very large file uploaded");
                    console.log(up_file_size);
                    
                    return false;

                }

                reader.readAsDataURL(input.files[0]);
                img_source = "uploaded";
                console.log(img_source);
                
                return false;

            }
        }

        function handle_form_submit() {

            console.log("form submitted");
            var disease = "Tuberclosis";
            
            console.log(img_source);

            if(img_source == ""){

            	
            	return false;

            }
            else if(img_source  == "uploaded"){
            	var property = document.getElementById("file").files[0]
            	if(property == undefined){
            		$('#show_upload').attr('src', "");
            		
            	}
            	//var property = document.getElementById("img");
            	console.log(property);

            // Add validation condition for image file 

            //Add condition for url based on disease name
            	const fileType = property['type'];
	            const file_size = property['size'] / 1024 / 1024;
	            console.log("file type : ");
	            console.log(fileType);

	            const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
	            if (!validImageTypes.includes(fileType)) {
	                console.log("Invalid file uploaded");
	                
	                return false;
	            }
	            if (file_size > 10) {
	                console.log("very large file uploaded");
	                console.log(file_size);
	                
	                return false;

	            }

            }
            else{
            	var	property = ""
            }
            var form_data = new FormData();
            
            form_data.append("image_file", property);
            form_data.append("image_source", img_source);
            console.log(form_data)

           
            
            $.ajax({
                method: 'POST',
                url: "{{url_for('diag')}}",
                data: form_data,
                processData: false,
                contentType: false,
                success: function(response) {
                	if(response.result_0==0)
                    	document.getElementById('response').innerHTML = "No Malignancy diagnosed";
                    else
                    	document.getElementById('response').innerHTML = "Malignancy diagnosed";

                    }
            	   
            });


            return false;
        }

	      //calls the function named previewFile()
	</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">

    {% if title %}
    <title> Flask Blog -- {{title}} </title>
    {% else %}
    <title> Flask Blog</title>
    {% endif %}  
</head>
<body>

	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/">Dignose Lung Cancer</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/">Home</a>
	        </div>
	        <!-- Navbar Right Side -->
	        
	      </div>
	    </div>
	  </nav>
	</header>


	
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      <div>
                <span >
                    <label for="file">UPLOAD</label><i></i>
                    <input id="file" type="file" value="" onchange="readURL(this);" />
                    <img src='#',width='1000',height='1000'  id='img' alt="Preview">
                </span>
                <span id="diagnosis_button"><button onclick="handle_form_submit();">DIAGNOSIS</button></span>

                

                
                </div>


            </div>

            <b id="response">.........</b>
	    </div>
	    <div class="col-md-4">
	      
	    </div>
	  </div>
	</main>

	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</body>
</html>